body{
    background-color: #ffffff;
}
.main{
    min-height:500px;
}
form.delete_form{
    display: inline-block !important;
}
.select2-container--default .select2-selection--single{
    height: 40px;
    padding-top: 5px;
}
.single-row table tr td:first-child{
    font-weight: bold;
}
.footer .social-links{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    text-align: center;
}
.footer .social-links a{
    color: gray;
}

@import "grid-responsive";
@import "media";
